{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container">
    <a class="navbar-brand fw-bold fst-italic" href="/">SIXTEEN CODE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div> 
  <!DOCTYPE html>
  <html>
  <head>
    <title>Barra de búsqueda</title>
    <style>
      .search-bar {
        border-radius: 10px;
        width: 800px;
        height: 40px;
        padding: 10px;
        font-size: 16px;
        border: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
  </head>
  <body>
    <input type="text" placeholder="Buscar" class="search-bar">
  </body>
  </html>
  
    </div>    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:posts' %}">Blog</a>
        </li>
          <a class="nav-link" href="{% url 'blog:posts' %}">Code</a>
        </li>
          <a class="nav-link" href="{% url 'blog:posts' %}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>